$nav-color: #FC3C80;
$footer-color: #FC3C80;
$nav-background: #F7D6D0;
$footer-background:#F7D6D0;
$nav-hover: #821D30;
$footer-hover:#821D30;
$web-color-type: #FC3C80;
$web-font-type:'DM Sans', sans-serif;