footer {
    background-color: hsl(346, 100%, 82%);
    padding: 20px 0 20px 0;
    text-align: center;
    display: flex;
    .container {
        .row{
            .footer-col{
                h5 {
                    font-size: 24px;
                    font-weight: bold;
                }
                form{
                    .btn-suscripcion{
                        background-color: $footer-background;
                    }
                }
            }
            
        }
    }

    .redes-sociales img {
        @extend %iconos-redes;
        margin-bottom: 2vh;
    }
}

