.unico{
    div {
        text-align: center;
        a {
            img { 
                height: 15vh;  
                height: 15vh;   
            } 
        }
    }

#navbarNav {
    padding: 0;
    .navbar-nav{
        .nav-item {
            .nav-link{
                background-color: $nav-background;
                
            }
        }

    }
}

.navbar{
    justify-content: center;
    
    .navbar-toggler{
        
        span{

        }
    }
}


.collapse navbar-collapse{
   
    ul{
        
        li{
            
        }
            a{
                
        }
            li{
                
            }      
    }

}

    
      

    nav {
        ul {
            @include flexbox(center);
            column-gap:20px;
           
            li {
                display: inline-block;
                a { 
                    color: $nav-color;
                    text-decoration: none;
                    font-weight: bold; 
                    padding: 5px 10px;
                    transition: all 0.3s ease;
                    background-color:$nav-background;

                    /*&:hover {
                        background-color: aqua;
                    }*/
                    
                }
                
                a:hover {
                    background-color: #821D30;
                }
            }
        }
    }    
}